body {
    background-color: #00AD3A;
    color: #ad0e00;
    font-family: "Courier New";
    font-size: 18px
}

.main-title {
    font-size: 62px;
    font-weight: bolder;
}

.recipe-lists {
    width: max-content;
    background-color: #6EFF9E;
}

.picture-size {
    width: 450px;
    height: auto;
}

.description {
    font-weight: bold;
    width: 750px;
}

.list-div {
    width: 750px;
    background-color: #6EFF9E;
}