body {
    background-color: #b7b7b7;
    color: #ad0e00;
    font-family: "Courier New";
    font-size: 18px
}

.main-title {
    font-size: 62px;
    font-weight: bolder;
}

.recipe-lists {
    width: max-content;
    background-color: #e5e5e5;
}

.picture-size {
    width: 450px;
    height: auto;
}

.description {
    font-weight: bold;
    width: 750px;
}

.list-div {
    width: 45%;
    background-color: #e5e5e5;
}

.box-design {
    border: 3px solid #ad0e00;
    padding: 5px;
    margin: 10px;
}

.box-layout {
    display: inline-block;
}

.box-title {
    padding: 0px 10px;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}